In [22]:
import pandas as pd
import matplotlib as plt 
import plotly.express as px
import seaborn as sns

In [23]:
df = pd.read_csv('/Users/pernebayarailym/Documents/Portfolio Projects AP/Python Projects/Project_18_HOMICIDE_Analysis/homicide_by_countries.csv')
df.head()

      Location  Region        Subregion  Rate  Count  Year
0  Afghanistan    Asia    Southern Asia   6.7   2474  2018
1      Albania  Europe  Southern Europe   2.1     61  2020
2      Algeria  Africa  Northern Africa   1.3    580  2020
3      Andorra  Europe  Southern Europe   2.6      2  2020
4       Angola  Africa    Middle Africa   4.8   1217  2012

In [24]:
df.shape

(195, 6)

In [25]:
df.isnull().sum()
#df.dropna(subset = ['Subregion'], inplace = True) #If I have any null column and I wanna drop it, this function uses

Location     0
Region       0
Subregion    0
Rate         0
Count        0
Year         0
dtype: int64

In [30]:
df.dtypes

Location     object
Region       object
Subregion    object
Rate          int64
Count         int64
Year          int64
dtype: object

In [27]:
df['Rate'] = df['Rate'].astype(int)

In [29]:
#If I have many columns to convert the dtype, in professional way 
my_list = ['Rate', 'Count', 'Year']
for i in my_list:
    print(i)
    df[i] = df[i].astype(int)

Rate
Count
Year

In [31]:
df

        Location    Region           Subregion  Rate  Count  Year
0    Afghanistan      Asia       Southern Asia     6   2474  2018
1        Albania    Europe     Southern Europe     2     61  2020
2        Algeria    Africa     Northern Africa     1    580  2020
3        Andorra    Europe     Southern Europe     2      2  2020
4         Angola    Africa       Middle Africa     4   1217  2012
..           ...       ...                 ...   ...    ...   ...
190    Venezuela  Americas       South America    36  10598  2018
191      Vietnam      Asia  South-Eastern Asia     1   1358  2011
192        Yemen      Asia        Western Asia     6   1703  2013
193       Zambia    Africa      Eastern Africa     5    853  2015
194     Zimbabwe    Africa      Eastern Africa     7    981  2012

[195 rows x 6 columns]