In [7]:
import pandas as pd
import matplotlib as plt 
import plotly.express as px
import seaborn as sns

In [8]:
df = pd.read_csv('/Users/pernebayarailym/Documents/Portfolio Projects AP/Python Projects/Project_18_HOMICIDE_Analysis/homicide_by_countries.csv')
df.head()

      Location  Region        Subregion  Rate  Count  Year
0  Afghanistan    Asia    Southern Asia   6.7   2474  2018
1      Albania  Europe  Southern Europe   2.1     61  2020
2      Algeria  Africa  Northern Africa   1.3    580  2020
3      Andorra  Europe  Southern Europe   2.6      2  2020
4       Angola  Africa    Middle Africa   4.8   1217  2012

In [9]:
df.shape

(195, 6)

In [14]:
df.isnull().sum()
#df.dropna(subset = ['Subregion'], inplace = True) #If I have any null column and I wanna drop it, this function uses

In [18]:
df.dtypes

Location     object
Region       object
Subregion    object
Rate          int64
Count         int64
Year          int64
dtype: object

In [17]:
df['Rate'] = df['Rate'].astype(int)